<h1>Welcome <%= @client.name %> </h1>

<p>Your current appointments </p>
    <ul>
        
        <% @client.appointments.each do |appt|%>
      <%= link_to  "Edit", edit_appointment_path(appt) %>

        <li>
            <p> Date: <%= appt.date.strftime("%m/%d/%Y")%></p>
            <p> Time: <%= appt.time.strftime("%I:%M%P")%></p>    
            <p>Service: <%= appt.service.name %></p>
            <p>Staff: <%= appt.staff.name%> </p>
        </li>
       
        <%end%>
        
    </ul>


<%= link_to  "Book an Appointment", new_appointment_path%> <br>
<%= link_to  "Log Out", logout_path, method: :delete %>


