

<div class = 'appt'>
  <%= form_for @appointment do |f| %>   
        
    <%= f.label :date, "Appointment Date" %>    
    <%= f.date_field :date, min: Date.today%> <br> 
    <%= f.label :time, "Appointment Time"%>
    <%= f.time_field :time, min: "08:00:00"%> <br>    
    
    <%= f.label :staff, "Staff Name" %>
    <%= f.collection_select :staff_id, Staff.all, :id, :name %> <br> 
    
    <%= f.label :service, "Spa Service" %>
    <%= f.collection_select :service_id, Service.all, :id, :name %> <br> 
    <%= f.submit 'Submit', class: 'submit'%>      
        
    <%end%> 
</div>


     
 
  