
<p>
    <%= form_for @appointment do |f| %>
      <%= f.label :staff, "Staff Name" %>
      <%= f.collection_select :staff_id, Staff.all, :id, :name %> <br> 
  
      <%= f.label :service, "Spa Service" %>
      <%= f.collection_select :service_id, Service.all, :id, :name %> <br> 
  
        <%= f.label :datetime, "Appointment Date" %>
        <%= f.date_select :datetime, start_year: 2019, end_year: 2021%> <br> 
  
        <%= f.label :time, "Appointment Time" %>
        <%= f.time_select :datetime, {minute_step: 15, ampm: true} %> <br>
      <%= f.submit %>
    <%end%>  
  </p> 
  