<h1>Appointments#new</h1>

<%= form_for @appointment do |f| %>
  <%= f.datetime_select :appointment_datetime %>
  <%= f.collection_select :staff, Staff.all, :id, :name %>
  <%= f.collection_select :service, Service.all, :id, :name %>
  <%= f.submit %>
<% end %>
