<h1>Book an Appointment</h1>

<%= form_for service_appointments_path(appointment) do |f| %>
    <%= f.label :datetime, "Appointment Date" %>
  <%= f.date_select :datetime %> <br> 

  <%= f.label :time, "Appointment Time" %>
  <%= f.time_select :datetime %> <br>

  <%= f.label :service, "Spa Service" %>
  <%= f.collection_select :service, Service.all, :id, :name %> <br> 

  <%= f.submit %>
<% end %>

