<div class='container'>

<h1>Appointment Scheduled for <%= @appointment.client.name%> </h1>

<h2>Date: <%= @appointment.date%></h2>  
<h2>Time:  <%= @appointment.time%> </h2> 
<h2>Service: <%= @appointment.service.name %></h2>
<h2>Staff: <%= @appointment.staff.name%> </h2>
</div>


<%= link_to  "Client Appointment List", client_path, class: 'btn' %> <br>



