<h1>New Appointment Confirmation for <%= @appointment.client.name%> </h1>

<h2>Schedule: <%= @appointment.datetime.strftime("%m/%d/%Y at %I:%M%P")%></h2>
<h2>Service: <%= @appointment.service.name %></h2>
<h2>Staff: <%= @appointment.staff.name%> </h2>

<%= link_to  "Client Appointment List", client_path%>
